Source: kaisen-manpages
Section: kaisen-packages
Priority: optional
Maintainer: Arnaud Cormier <arnaud@localhost.org>
Build-Depends: debhelper (>= 13~)
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://manpages.kaisen-linux.org
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/kaisen-manpages
Vcs-Git: https://gitlab.com/kaisenlinux/packages/kaisen-manpages.git

Package: kaisen-manpages
Architecture: all
Depends: apache2
Description: Kaisen manpages on localhost
 Offline documentation from manpages.kaisen-linux.org
